#folders
bin/
tmp/
build/
Debug/
.settings/
.externalToolBuilders/
dox/
dbg/

#FileTypes
*.pydevproject
*.tmp
*.bak
*.swp
*~.nib
*.o
*.launch

#SpecificFiles
.metadata
.gradle
.loadpath
.project
.cproject
.buildpath
.target
.texlipse
.sconsign.dblite
.DS_Store
